.DS_Store
Poster
Articles
neural-networks-and-deep-learning
*.pyc
ct_atrium
code/lua_programming
code/example_code
code/tutorial_supervised/data/
results/
code/torch-hdf5/
code/tutorial_supervised/mnist.t7.tgz
code/tutorial_supervised/mnist.t7/