.DS_Store
Poster
Articles
*.pyc
ct_atrium
code/torch-hdf5/
code/process_results/model.net
code/CNN/models/*
code/CNN/results*
*test_run
datasets
**/*.net
Thesis_Report/**/*.aux
Thesis_Report/**/*.out
Thesis_Report/**/*.log
Thesis_Report/**/*.synctex.gz
Thesis_Report/**/*.toc
